In [15]:
import pandas as pd
from collections import defaultdict

In [27]:
d1 = defaultdict(int)

In [25]:
words = ['a', 'c', 'a']
for word in words:
    d1[word] += 1

In [21]:
dict2['Orange'] = 1

In [ ]:
my_dict['Orange'].append( 2)

In [ ]:
if 'Orange' in dict2

In [4]:
my_dict = {}

In [9]:
my_dict['Orange'] = [1]

In [10]:
my_dict

{'Orange': [1]}

In [11]:
my_dict['Orange'].append( 2)

In [12]:
my_dict

{'Orange': [1, 2]}

In [13]:
pd.DataFrame(my_dict)

   Orange
0       1
1       2

In [28]:
my_dict = { 'Apple': [1,3,4,5,5,5],  'Banana': [1,2], 'Orange': [5,6,7]}

In [31]:
new_dict = {}
for key, value in my_dict.items():
    new_dict[key] = len(value)
new_dict

{'Apple': 6, 'Banana': 2, 'Orange': 3}

In [42]:
from collections import Counter

In [44]:
d = Counter(new_dict)

In [47]:
d.most_common(2)

[('Apple', 6), ('Orange', 3)]

In [49]:
sorted(new_dict.values())

[2, 3, 6]

In [50]:
lst = [['MultinomialNB', 27.04], ['GaussianNB', 26.6], ['RandomForestClassifier', 27.08], ['GradientBoostingClassifier', 27.32], ['XGBClassifier', 27.16]]

In [51]:
lst

[['MultinomialNB', 27.04],
 ['GaussianNB', 26.6],
 ['RandomForestClassifier', 27.08],
 ['GradientBoostingClassifier', 27.32],
 ['XGBClassifier', 27.16]]

In [53]:
pd.DataFrame(lst, columns=['Classifier','Profit' ])

                   Classifier  Profit
0               MultinomialNB   27.04
1                  GaussianNB   26.60
2      RandomForestClassifier   27.08
3  GradientBoostingClassifier   27.32
4               XGBClassifier   27.16

ValueError: If using all scalar values, you must pass an index