In [17]:
my_list = ['A Quick brown fox brown juped over the lazy dog']

In [18]:
word_list = []
for item in my_list:
    for word in (item.split()):
        word_list.append(word)
my_dict = set(word_list)
my_dict

{'A', 'Quick', 'brown', 'dog', 'fox', 'juped', 'lazy', 'over', 'the'}

In [15]:
from collections import Counter

In [21]:
word_count = Counter(word_list)

In [22]:
l = len(word_list)

In [29]:
for key, value in word_count.items():
    print(key, value/l)

A 0.1
Quick 0.1
brown 0.2
fox 0.1
juped 0.1
over 0.1
the 0.1
lazy 0.1
dog 0.1

In [30]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer

In [31]:
my_list = ['A Quick brown fox brown juped over the lazy dog', 'The brown dog was sick']

In [32]:
cv = TfidfVectorizer(stop_words= "english")
print(cv)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [41]:
list_cv = cv.fit_transform(my_list).toarray()

In [38]:
cv.get_feature_names()

['brown', 'dog', 'fox', 'juped', 'lazy', 'quick', 'sick']

In [39]:
cv.idf_

array([1.        , 1.        , 1.40546511, 1.40546511, 1.40546511,
       1.40546511, 1.40546511])

In [40]:
cv.vocabulary_

{'quick': 5, 'brown': 0, 'fox': 2, 'juped': 3, 'lazy': 4, 'dog': 1, 'sick': 6}

In [42]:
list_cv

array([[0.55681737, 0.27840869, 0.39129369, 0.39129369, 0.39129369,
        0.39129369, 0.        ],
       [0.50154891, 0.50154891, 0.        , 0.        , 0.        ,
        0.        , 0.70490949]])

In [43]:
import pandas as pd

In [45]:
pd.DataFrame(my_list, columns= ['Text'])

                                              Text
0  A Quick brown fox brown juped over the lazy dog
1                           The brown dog was sick

In [46]:
X = pd.DataFrame(list_cv, columns=cv.get_feature_names())
X

      brown       dog       fox     juped      lazy     quick      sick
0  0.556817  0.278409  0.391294  0.391294  0.391294  0.391294  0.000000
1  0.501549  0.501549  0.000000  0.000000  0.000000  0.000000  0.704909

In [ ]:
model.fit(X, y)